<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="alternate icon" class="js-site-favicon" type="image/png" href="https://github.githubassets.com/favicons/favicon.png">
    <title>connect success</title>
</head>
<body>
    <div tyle="100%" align="center">
    <div style="width: fit-content;" align="center">
        <strong>dev模型体验:<a href="/dev">/dev</a></strong>
    </div>
    <div style="width: fit-content;" align="center">
        <table width="100%" border='1'>
            <caption align="center"><b>请求示例</b></caption>
            <tr>
                <td align="center">单人模型</td>
                <td>
                    <table width="100%" border='1'>
                        <tr>
                            <td>
                                <code>/{model}?text="シンクロ召喚！"</code>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>/{model}?text="シンクロ召喚！"&escape=True&type="wav"&output="test"</code>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">多人模型</td>
                <td>
                    <table width="100%" border='1'>
                        <tr>
                            <td>
                                <code>/{model}/{id}?text="[ZH]你好[ZH]"</code>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>/{model}/{id}?text="[ZH]你好[ZH]"&escape=True&type="wav"&output="test"</code>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <br/><br/>

    <div style="width: fit-content;" align="center">
        <table width="100%" border='1'>
            <tr>
                <th align="center">参数</th>
                <th align="center">类型</th>
                <th align="center">必须</th>
                <th align="center">注释</th>
                <th align="center">默认值</th>
            </tr>
            <tr>
                <td align="center">model</td>
                <td align="center">string</td>
                <td align="center">是</td>
                <td align="center">模型名称<br/>(模型列表看下方)</td>
                <td align="center">/</td>
            </tr>
            <tr>
                <td align="center">id</td>
                <td align="center">uint</td>
                <td align="center">否</td>
                <td align="center">角色ID<br/>(对照表看下方)</td>
                <td align="center">0</td>
            </tr>
            <tr>
                <td align="center">text</td>
                <td align="center">string</td>
                <td align="center">是</td>
                <td align="center">输入文本</td>
                <td align="center">/</td>
            </tr>
            <tr>
                <td align="center">escape</td>
                <td align="center">bool</td>
                <td align="center">否</td>
                <td align="center">speaker是否转为UTF8</td>
                <td align="center">False</td>
            </tr>
            <tr>
                <td align="center">rawtext</td>
                <td align="center">string</td>
                <td align="center">否</td>
                <td align="center">/</td>
                <td align="center">/</td>
            </tr>
            <tr>
                <td align="center">type</td>
                <td align="center">string</td>
                <td align="center">否</td>
                <td align="center">返回类型:<br/>1."json"<br/>2."wav"</td>
                <td align="center">"json"</td>
            </tr>
            <tr>
                <td align="center">output</td>
                <td align="center">string</td>
                <td align="center">type为wav时<br/>所必需</td>
                <td align="center">请勿使用常用词,<br/>以免数据串扰!<br/>(建议使用QQ号)</td>
                <td align="center">/</td>
            </tr>
        </table>
    </div>

    <br/><br/>

    <div style="width: fit-content;" align="center">
        <table width="100%" border='1'>
            <caption align="center"><b>json信息</b></caption>
            <tr>
                <td>
                    {<br/>
                        "code":错误代码,<br/>
                        "ID":角色ID,<br/>
                        "speaker":角色,<br/>
                        "audio":base64格式的音频数据,<br/>
                        "time":生成所花时间,<br/>
                        "message":其他信息,<br/>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    {<br/>
                        "code":错误代码,<br/>
                        "errmsg":错误信息,<br/>
                    }
                </td>
            </tr>
        </table>

        <br/><br/>

        <table width="100%" border='1'>
            <caption align="center"><b>gocq调用示例</b></caption>
            <tr>
                <td>
                    {<br/>
                        "type": "record",<br/>
                        "data": {<br/>
                            "file": "base64://"+bytes.decode(rsp.audio)<br/>
                        }<br/>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <caption align="center"><b>当type设置为wav时必须持有output参数</b></caption>
                        <tr>
                            <td>
                                {<br/>
                                    "type": "record",<br/>
                                    "data": {<br/>
                                        "file": "http://127.0.0.1:25565/ygo7/6?text=duel!&type=wav&output="test"<br/>
                                    }<br/>
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        <br/><br/> <br/><br/>

        <table width="100%" border='1'>
            <caption align="center">模型列表</caption>
            {% for modelname in models %}
                <tr>
                    <td>
                        <table id={{modelname}} width="100%" border='1'>
                            <tr>
                                <th align="center">名称</th>
                                <td align="center">{{modelname}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th align="center">ID</th>
                                <th align="center">Speaker</th>
                            </tr>
                            {% for index,speaker in enumerate(models[modelname]) %}
                                <tr>
                                    <td align="center">{{index}}</th>
                                    <td align="center">{{speaker}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</body>